<nav class='bg-white shadow-lg rounded font-sans'>
  <div class='max-w-6xl mx-auto px-4 py-1'>
    <div class='flex justify-between'>
      <div class='flex space-x-7'>
        <div>
          <!-- Website Logo -->
          <a href='/' class='flex items-center py-4 px-2'>
            <span class='text-gray-500 text-lg'>Astro Blog</span>
          </a>
        </div>
        <div class='hidden md:flex space-x-1 items-center'>
          <a
            href='/'
            class='py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300'
            >Home</a
          >
          <a
            href='/blog'
            class='py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300'
            >Blog</a
          >
          <a
            href='/about'
            class='py-4 px-2 text-gray-500 hover:text-green-500 transition duration-300'
            >About</a
          >
        </div>
      </div>
      <!-- Mobile menu button -->
      <div class='md:hidden flex items-center'>
        <button
          class='outline-none mobile-menu-button'
          id='button.mobile-menu-button'
        >
          <img src='/hamburger.svg' class='h-6 w-6 text-neutral-600' />
        </button>
      </div>
    </div>
  </div>
</nav>
<!-- mobile menu -->
<div class='hidden mobile-menu bg-white'>
  <ul class=''>
    <li class='active'>
      <a
        href='/'
        class='block text-sm px-2 py-4 hover:bg-green-500 transition duration-300'
        >Home</a
      >
    </li>
    <li>
      <a
        href='/blog'
        class='block text-sm px-2 py-4 hover:bg-green-500 transition duration-300'
        >Blog</a
      >
    </li>
    <li>
      <a
        href='/about'
        class='block text-sm px-2 py-4 hover:bg-green-500 transition duration-300'
        >About</a
      >
    </li>
  </ul>
</div>

<script>
  import '../scripts/menu';
</script>
